* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ccc;
}

.App .App-header{
  padding:1.5%; 
  background-color: rgb(53, 52, 104);
  border-bottom: 2px outset rgb(94, 24, 187);
}

header ul {
  display: flex;
  justify-content: space-around;
  padding-right: 1%;
  list-style: none;
 
}

header ul li {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ccc;
  
}

header ul li:hover {
  background-color: rgba(95, 24, 187, 0.39);
  border-radius: 7px;
  border-bottom: 1px rgb(94, 24, 187) solid;
}

.App main {
  background-color: rgb(53, 52, 104);
  height: 50rem;

  text-align: center;
}

.App main h1 {
  color: #ccc;
  padding-top: 5%;
}


main .Content-Main {
  padding-top: 9%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
}

main .Content-Main .content1 h3{
  color:#ccc;
  font-weight: bold;
  font-size: 20px;
  margin:1%;
}